<h1>Hello Wordle this is Handlebars Page</h1>



<div class="input-group mb-3">
  <!--<span class="input-group-text" id="username-input">@</span>-->
  <input type="text" class="form-control mb-3" placeholder="Username" aria-label="Username"
    aria-describedby="username-input">
  <input type="text" class="form-control mb-3" placeholder="Password" aria-label="Password">
</div>